@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body { background-color: #49CCAD; font-family: 'Roboto Slab', sans-serif; }

.brand img {
	max-height: 100px;
}

.top-nav {
  font-family: 'Roboto Slab', serif;
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 90px;
  padding-top: 10px;
 }

 .top-nav a {
  font-weight: bold;
  color: #38B092;
  font-size: 16px;
  text-decoration: none;
  padding-left: 8px;
 }

 .top-nav a:hover {
  color: #49CCAD;
}

.bottom-nav {
  font-family: 'Roboto Slab', serif;
  background-color: #eeeeee;
  border-top-color: #007275;
  border-top-width: 3px;
  border-top-style: solid;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px
 }

 .bottom-nav a {
  font-weight: bold;
  color: #38B092;
  font-size: 16px;
  text-decoration: none;
  padding-left: 8px;
 }

 .bottom-nav a:hover {
  color: #49CCAD;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  padding: 0;
  overflow: hidden;
  border: 0px;
}

.handle {
  padding: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}

.card.form {
  padding: 20px;
}

.dark-bg {
  background: #003637;
  height: 40px;
  color: #eeeeee;
}

.dark-bg a:hover {
  text-decoration: none;
  color: #eeeeee;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.my-btn {
  background-color: #003A3B;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}

.gram-actions a {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  margin-left: auto;
}

.comments {
  padding: 20px;
}

.bs {
  box-shadow: 5px 5px 0px rgba(100,100,100,.3);
  -moz-box-shadow: 5px 5px 0px rgba(100,100,100,.3);
  -webkit-box-shadow: 5px 5px 0px rgba(100,100,100,.3);
}

.tsa { text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }

.comment {
  font-size: 16px;
  margin-top: 5px;
}

.comment_handle {
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

#nav ul {
    display: inline-block;
    list-style-type: none;
}

 /* Colors */
 .dark-g { color: #003637; }
 .light-g { color: #ACFFEB; }

  /* Fonts */
  .bold { font-weight: 700;}
